body {
      background-color: #e0e0e6;
      font-family: 'Poppins', sans-serif;
      list-style: none;
}

/* GLOBAL GENERAL CODE */
      #box {
            background-color: #fff;
            box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
            display: inline-block;
      }
/* END GLOBAL GENERAL CODE */

/* CONTAINER */
      .container {
            width: 76%;
            margin: 0 auto;
            background-color: #e0e0e6;
            margin-top: 2%;
            box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
      }
      /* LEFT SIDE */
            .left-side {
                  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
                  display: inline-block;
            }
            /* PROFILE */
                  .profile {
                        width: 290px;
                        height: 235px;
                        display: inline-block;
                        background: linear-gradient(159deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.95) 100%);
                  }
                  .active {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #95c357;
                        position: relative;
                        display: inline-block;
                        left: 59%;
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                        transform: scale(1);
                        animation: pulse 1.5s ease-in-out infinite;
                  }

                  /* PROFILE TOP IMAGE */
                        .profile-img {
                              position: relative;
                              background: url("../images/profileimg/profile-img.jpg");
                              background-repeat: no-repeat;
                              background-size:contain;
                              border-radius: 80%;
                              height: 100px;
                              width: 100px;
                              margin-top: 50%;
                              margin: 0 auto;
                              top: 8%;
                        }
                  /* END PROFILE TOP IMAGE */

                  /* PROFILE TOP DESCRIPTION */
                        .specialty {
                              margin-top: 15px;
                              margin-bottom: 5px;
                        }
                        .profile-top-description {
                              font-size: 13px;
                              font-weight:bold;
                              margin-top: 5%;
                              text-align: center;
                              
                        }
                        .profile-top-description > p {
                              color: #7a7a7a;
                              line-height: 1.2em;
                              font-weight: 300;
                        }
                  /* END PROFILE TOP DESCRIPTION */

                  /* PROFILE MAIN DESCRIPTION */      
                        .main-profile-description {
                              background-color: #f4f4f6;
                              width: 290px;
                        }
                        /* MAIN PROFILE DESCRIPTION PERSONAL INFO */
                              .main-profile-description-personal-info {
                                    margin: 0 auto;
                                    padding: 25px;
                                    padding-left: 40px;
                              }
                              /* PERSONAL INFO */
                                    .personal-info {
                                          display: inline-block;
                                          font-size: 13px;
                                    }
                                    .personal-info > li {
                                          padding: 3px;
                                    }

                                    .personal-info-answer {
                                          display: inline-block;
                                          padding-left: 24%;
                                          font-size: 13px;
                                    }
                                    .personal-info-answer > li {
                                          padding: 3px;
                                    }
                              /* END PERSONAL INFO */

                        /* END MAIN PROFILE DESCRIPTION PERSONAL INFO */ 

                        /* MAIN PROFILE MY LANG */
                              .main-profile-my-lang {
                                    margin: 0 auto;
                                    padding: 20px;
                                    padding-left: 40px;
                              }
                              .main-profile-my-lang > div {
                                    display: inline-block;      
                              }
                              /* PROFILE LANGS */
                                    .main-profile-my-langs-skill {
                                          font-size: 13px;
                                    }
                                    .main-profile-my-langs-skill > li {
                                          padding: 3px;
                                    }

                                    .main-profile-my-langs-answer {
                                          display: inline-block;
                                          padding-left: 24%;
                                          font-size: 13px;
                                    }
                                    .main-profile-my-langs-answer > li {
                                          padding: 3px;
                                    }
                              /* END PROFILE LANGS */
                        /* END MAIN PROFILE MY LANG */

                              /* MAIN PROFILE PROGRAMMING LANGUAGES */
                                    .main-profile-programming-langs {
                                          margin: 0 auto;
                                          padding: 20px;
                                          padding-left: 40px;
                                    }
                                    .main-profile-programming-langs > div {
                                          display: inline-block;      
                                    }
                                          /* PROGRAMMING LANGUAGES */
                                                .main-profile-programming-langs-skills {
                                                      font-size: 13px;
                                                }
                                                .main-profile-programming-langs-skills > li {
                                                      padding: 3px;
                                                }
            
                                                .main-profile-programming-langs-skills-answer {
                                                      display: inline-block;
                                                      padding-left: 20%;
                                                      font-size: 13px;
                                                }
                                                .main-profile-programming-langs-skills-answer > li {
                                                      padding: 3px;
                                                }  
                                          /* END PROGRAMMING LANGUAGES */
                              /* END MAIN PROFILE PROGRAMMING LANGUAGES */

                              /* FRAMEWORKS */
                                    .main-profile-framework {
                                          margin: 0 auto;
                                          padding: 20px;
                                          padding-left: 40px;
                                    }
                                    .main-profile-framework > div > li {
                                          padding-bottom: 3px;
                                    }
                                    .main-profile-framework > div > li > span {
                                          font-size: 12px;
                                    }
                                    /* CHECK MARK */
                                          .checkmark {
                                                width: 12px;
                                                height: 12px;
                                                padding-right: 12px;
                                          }
                                    /* END CHECK MARK */
                              /* END FRAMEWORKS */

                              /* CV DOWNLOAD */
                                    .main-profile-cv {
                                          margin: 0 auto;
                                          padding: 20px;
                                          padding-left: 40px;
                                    }
                                    /* MAIN PROFILE CV A */
                                          .main-profile-cv-a {
                                                text-decoration:  none;
                                                color: #7a7a7a;
                                          }
                                    /* END MAIN PROFILE CV A */
                              /* END CV DOWNLOAD */
                              
                              /* END SOCIAL MEDIA */
                                    .social-media {
                                          height: 60px;
                                          width: 100%;
                                          background: linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);
                                    }
                                    /* MEDIAS */
                                          .social-media > div {
                                                display: inline-block;
                                                padding: 20px 28px 20px 28px;
                                          }
                                          .social-media > div > a {
                                                color: #7a7a7a;
                                                transition-delay: .5s ease;
                                                font-weight: bold;
                                          }
                                          .social-media > div > a:hover {
                                                color: #2e2d2d;
                                          }
                                    /* END MEDIAS */
                              /* END */
                        .hr {
                              width: 80%;
                              color: #e0e0e6;
                              background-color: #e0e0e6;
                              margin: auto;
                        }
                  /* END PROFILE MAIN DESCRIPTION */

            /* END PROFILE */
      /* END LEFT SIDE */

      /* TIMELINE */
            .timeline {
                  display: inline-block;
                  position: absolute;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  width: 56.7%;
                  height: 835px;
            }
            .timeline::-webkit-scrollbar {
                  display: none;
              }
            /* TIMELINE HEADER */ 
                  .timeline-header {
                        width: 100%;
                        display: inline-block;
                  }
                  .timeline-header::before {    
                        content: "";
                        background: url("../images/timeline/bg.jpg");
                        background-repeat: no-repeat;
                        background-size: 100% 600px;
                        position: absolute;
                        height: 411px;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;
                        opacity: .04;
                  }

                  /* TIMELINE HEADER LINE */
                        .timeline-header-line {
                              width: 85%;
                              height: 30px;
                              background-color: #fff;
                              border-radius: 4px 4px 0px 0px;
                              margin: 0 auto;
                              margin-top: 25px;
                        }
                  /* END TIMELINE HEADER LINE */

                  /* TIMELINE HEADER BANNER */
                        .timeline-header-banner {
                              width: 92%;
                              height: 356px;
                              background-image: url("../images/timeline/bg.jpg");
                              background-repeat: no-repeat;
                              background-size:1000px 700px;
                              margin: 0 auto;
                        }
                        /* TIMELINE HEADER BANNER HEADINGS */
                              .timeline-header-banner-headings {
                                    color: white;
                                    font-size: 50px;
                                    font-weight: 800;
                                    width: 100%;
                                    height: 100%;
                              }
                              /* TIMELINE HEADER BANNER HEADERS */
                                    .timeline-header-banner-headers {
                                          position: relative;
                                          top: 25%;
                                          left: 6%;
                                    }
                              /* END TIMELINE HEADER BANNER HEADERS */

                              /* TIMELINE HEADER BANNER HEADINGS A */
                                    .timeline-header-banner-headings-button {
                                          padding: 12px 40px;
                                          font-size: 15px;
                                          font-weight: 800;
                                          color: #1e1e28;
                                          background-color: #f44336;
                                          position: relative;
                                          top: 34%;
                                          left: 9%;                      
                                    }
                              /* END TIMELINE HEADER BANNER HEADINGS A */

                              /* TIMELINE HEADER BANNER HEADINGS MAN */
                                    .timeline-header-banner-headings-man {
                                          position: relative;
                                          width: 390px;
                                          top: -38px;
                                          float: right;  
                                    }
                              /* END TIMELINE HEADER BANNER HEADINGS MAN */
                        /* END TIMELINE HEADER BANNER HEADINGS */
                  /* END TIMELINE HEADER BANNER */

                  /* TIMELINE EXPERIENCES */
                       .timeline-experiences {
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        position: relative;
                        top: -22px;
                       }
                       /* TIMELINE EXPERIENCES EXPERIENCE */
                              .timeline-experiences-experience {
                                    display: inline-block;
                                    padding-left: 50px;
                                    padding-right: 50px;
                              }

                              /* TIMELINE EXPERIENCES EXPERIENCE HEADING */
                                    .timeline-experiences-experience-heading {
                                          display: inline-block;
                                          font-weight: 500;
                                          font-size: 22px;
                                          color:#f44336;
                                    }
                              /* END TIMELINE EXPERIENCES EXPERIENCE HEADING */

                              /* TIMELINE EXPERIENCES EXPERIENCE P */
                                    .timeline-experiences-experience-p {
                                          display: inline-block;
                                          font-size: 13px;
                                    }
                              /* END TIMELINE EXPERIENCES EXPERIENCE P */

                       /* END TIMELINE EXPERIENCES EXPERIENCE */
                  /* END TIMELINE EXPERIENCES */

            /* END TIMELINE HEADER*/



            /* TIMELINE SERVICES */
                  .timeline-services {
                        width: 100%;
                        margin-top: 30px;
                        text-align: center;
                  }
                  /* TIMELINE SERVICE BOX */
                        .timeline-service-box {
                              width: 24%;
                              height: 100%;
                              text-align: start;
                              padding: 25px;
                              margin: 10px;
                              margin: 10px;
                        }
                        /* TIMELINE-SERVICE-BOX-HEADINGS */
                              .timeline-service-box-h1 {
                                    font-size: 14px;
                                    padding: 5px;
                              }
                              .timeline-services-box-p {
                                    font-size: 12px;
                                    letter-spacing: .25px;
                                    line-height: 1.7;
                                    color: #7a7a7a;
                                    padding: 5px;
                              }
                              .timeline-services-box-a {
                                    text-decoration: none;
                                    color: #f44336;
                                    font-size: 14px;
                                    font-weight: 500;
                                    padding: 5px;
                              }
                        /* END TIMELINE-SERVICE-BOX-HEADINGS */
                  /* END TIMELINE SERVICE BOX */
            /* END TIMELINE SERVICES */




            /* TIMELINE PRICE */
                  .timeline-prices {
                        width: 100%;
                        text-align: center;
                  }
                  /* TIMELINE PRICE BOX*/
                        .timeline-price-box {
                              width: 300px;
                              height: 370px;
                              text-align: center;
                              margin: 5px !important;
                        }
                        /* TIMELINE PRICE BOX HEADINGS */
                              .timeline-price-box-headings {
                                    padding: 30px;
                              }
                              /* TIMELINE PRICE BOX INNER HEADINGS */
                                    .timeline-prices-price-box-headings-h1 {
                                          font-size: 15px;
                                          font-weight: 500;
                                          padding: 20px;
                                    }
                                    .timeline-price-box-headings-h3-price {
                                          color:#7a7a7a;
                                          font-size: 13px;
                                    }
                                    .free {
                                          color:#f44336;
                                          font-weight: 600;
                                          font-size: 32px;
                                    }
                                    .timeline-price-box-headings-li-includes {
                                          font-size: 13px;
                                          font-weight: 400;
                                          color:#7a7a7a;
                                          padding-top: 10px;
                                          padding-bottom: 15px;
                                    }
                                    .x {
                                          color:#f44336;
                                          font-size: 16px;
                                          font-weight: 600;
                                    }
                                    #include-check {
                                          color: black !important;
                                    }

                                    .timeline-price-box-headings-a {
                                          color:#f44336;
                                          font-size: 16px;
                                          text-decoration: none;
                                          font-weight: 500;
                                    }
                              /* END TIMELINE PRICE BOX INNER HEADINGS */
                        /* END TIMELINE PRICE BOX HEADINGS */
                  /* END TIMELINE PRICE BOX */
            /* END TIMELINE  PRICE */


            /* RECOMMENDATIONS */
                  .recoms {
                        width: 200%;
                        margin: 0 auto;
                        margin-top: 30px;
                  }
                  .recoms-holder{
                        text-align: center;
                  }
                  
                  /* RECOMS HOLDER BOX */
                  .recoms-holder-box {
                        width: 20%;
                        height: 180px;
                        padding: 30px;
                        margin: 20px;
                  }
                        /* RECOM HOLDER RECOM IMG */
                              .recoms-holder-recom-img {
                                    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
                                    border-radius: 50%;
                                    margin-right: 34px;
                                    margin-top: -44px;
                                    width: 65px;
                                    height: 65px;
                                    float: right;
                              }
                        /* END RECOMS HOLDER RECOM IMG */

                        /* RECOMS HOLDER RECOM HEADINGS */
                              .recoms-holder-recom-headings {
                                    text-align: left;
                              }
                              .recoms-holder-recom-headings-name {
                                    padding-bottom: 4px;
                                    font-weight: 500;
                                    font-size: 14px;
                                    padding: 8px;
                              }
                              .recoms-holder-recom-headings-specialty {
                                    padding-top: 4px;
                                    padding-bottom: 13px;
                                    font-size: 13px;
                                    padding: 8px;
                                    color: #7a7a7a;
                              }
                              .recoms-holder-recom-headings-recomendation {                                  color: #7a7a7a;
                                    line-height: 1.7;
                                    color: #7a7a7a;
                                    font-size: 13px;  
                                    padding: 8px;
                                    
                              }
                        /* END RECOMS HOLDER RECOM HEADINGS */
                  /* END RECOMS HOLDER BOX */

                  /* ARROWS */
                        .recoms-arrows {
                              margin-right: 30px;
                              text-align: end;
                        }
                        .recoms-arrows > div {
                              display: inline-block;
                              font-weight: 400;
                              font-size: 30px;
                              cursor: pointer;
                              color: #f44336;
                        }
                  /* END ARROWS */
            /* END RECOMMENDATIONS */


            /* WORKS */
                  .timeline-works {
                        width: 100%;
                        margin-top: 30px;
                  }
                  /* TIMELINE WORKS CATEGORIES */
                        .timeline-works-categories {
                              text-align: start;
                              margin: 30px;
                              font-size: 14px;
                              font-weight: 500;
                        }
                        /* TIMELINE WORKS HOLDER */
                              .timeline-works-holder {
                                    text-align: -webkit-center;
                              }
                        /* END TIMELINE WORKS HOLDER */

                        /* TIMELINE WORKS HOLDER WORK */
                              .timeline-works-holder-work {
                                    background-size: 100% 100%;
                                    margin: 20px;
                                    position: relative;
                                    overflow: hidden;
                                    height: 250px;
                                    width: 40%;
                              }
                              /* TIMELINE WORKS HOLDER WORK HEADINGS */
                                    .timeline-works-holder-work-headings {
                                          background-color: #fff;
                                          padding: 30px;
                                          top: 250px;
                                          text-align: start;
                                          position: absolute;
                                          width: 86.32%;
                                          height: 42%;
                                    }
                                    .timeline-works-holder-work-headings-h1 {
                                          text-decoration: none;
                                          position: relative;
                                          padding: 5px;
                                    }
                                    .timeline-works-holder-work-headings-p {
                                          text-decoration: none;
                                          color:#7a7a7a;
                                          position: relative;
                                          padding: 5px;
                                    }
                                    .timeline-works-holder-work-headings-a {    
                                          text-decoration: none;
                                          color: #f44336;
                                          position: relative;
                                          top: 15px;
                                          padding: 5px;
                                    }
                              /* END TIMELINE WORKS HOLDER WORK HEADINGS */
                        /* END TIMELINE WORKS HOLDER WORK */
                  /* END TIMELINE WORKS CATEGORIES */
            /* END WORKS */

            /* TIMELINE EDU WORK HISTORY */
                  .timeline-eduhis, .timeline-workhis {
                        width: 45%;
                        display: inline-block;
                  }
                  .timeline-eduhis-holder, .timeline-workhis-holder {
                        width: 100%;
                        height: 100%;
                        margin: 30px;
                  }
                  .timeline-eduhis-holder-box, .timeline-workhis-holder-box {
                        width: 70%;
                        height: 70%;
                        padding: 30px;
                        margin: 25px;
                  }
                  .timeline-eduhis-holder-box-headings-unvn, .timeline-workhis-holder-box-headings-unvn {
                        padding: 5px;
                        font-size: 15px;
                        display: inline-block;
                        font-weight: 500;
                  }
                  .timeline-eduhis-holder-box-headings-date, .timeline-workhis-holder-box-headings-date {
                        padding: 10px 15px;
                        border-radius: 100px;
                        box-shadow: inset 0 3px 8px 0 rgb(15 15 20 / 20%);
                        font-size: 13px;
                        font-weight: 500;
                        color: #54595f;
                        float: right;
                        display: inline-block;
                  } 
                  .timeline-eduhis-holder-box-headings-role, .timeline-workhis-holder-box-headings-role {
                        padding: 5px;
                        font-size: 11px;
                        color: #7a7a7a;
                  }
                  
                  .timeline-eduhis-holder-box-headings-p, .timeline-workhis-holder-box-headings-p {
                        padding: 5px;
                        font-size: 15px;
                        font-weight: 300;
                  }
                  .timeline-eduhis-holder-box-headings-a, .timeline-workhis-holder-box-headings-a {
                        text-decoration: none;
                        position: relative;
                        font-size: 13px;
                        font-weight: 500;
                        color: #f44336;
                        padding: 5px;
                        top: 5px;
                  }
                  .timeline-eduhis-line, .timeline-workhis-line {
                        height: 212px;
                        width: 5px;
                        position: relative;
                        background-color: #ababab;
                        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
                        float: right;
                    }
            /* END TIMELINE EDU WORK HISTORY */


            /* TIMELINE CONTACT INFORMATION */
                  .contact-informations {
                        width: 100%;
                  }
                  /* CONTACT INFORMATIONS HOLDER */
                        .contact-informations-holder {
                              width: 100%;
                              margin: 30px;
                              text-align: center;
                        }

                        /* CONTACT INFORMATION HOLDER */
                              .contact-information-holder {
                                    padding: 30px;
                                    margin: 15px;
                                    width: 278px;
                                    height: 100%;
                              }
                              /* Q&A*/
                                    .contact-information-holder-ques {
                                          display: inline-block;
                                          float: left;
                                    }
                                    .contact-information-holder-answ-li, .contact-information-holder-ques-li {
                                          padding: 7px;
                                          font-size: 14px;
                                          font-weight: 400;
                                    }
                                    .contact-information-holder-answ {
                                          display: inline-block;
                                          float: right;
                                    }
                                   
                              /* END Q&A */
                        /* END CONTACT INFORMATION HOLDER */

                  /* END CONTACT INFORMATONS HOLDER */
                  
            /* END TIMELINE CONTACT INFORMATION */
            

            /* GITCS FORM */
                  .gitc-form {
                        width: 100%;
                        margin-top: 35px;
                        text-align: center;
                  }
                  /* GITC FORM CONTAINER */
                        .gitc-form-container {
                              height: 100%;
                              width: 90%;
                              padding: 30px;
                              text-align: start;
                        }
                  /* END GITC FORM CONTAINER */

                  /* GITC FORM CONTAINER INPUTS */
                        .gitcs-form-container-form > input  {
                              width: 93.3%;
                              height: 15%;
                              padding: 10px;
                              margin: 20px;
                              background-color: #f4f4f6;
                              box-shadow: 0 -3px -8px 0 rgb(15 15 20 / 20%);
                          }
                          .gitcs-form-container-form > textarea  {
                                border: none;
                                padding: 10px;
                                margin: 20px;
                                width: 93.4%;
                                background-color: #f4f4f6;
                                box-shadow: 0 -3px -8px 0 rgb(15 15 20 / 20%);
                          }
                          .gitcs-form-container-form > button {
                                width: 200px;
                                height: 50px;
                                margin: 20px;
                                padding: 10px;
                                font-size: 15px;
                                color: black;
                                font-weight: 600;
                                background-color: #f44336;
                                box-shadow: 0 -3px -8px 0 rgb(15 15 20 / 20%);
                          }
                          
                  /* END GITC FORM CONTAINER INPUTS */
                  
            /* END GITC FORM */


            /* TIMELINE FOOTER */
                  .timeline-footer {
                        width: 100%;
                        margin-top: 50px;
                        text-align: center;
                  }

                  /* TIMELINE FOOTER INFO CONTAINER */
                        .timeline-footer-info-container {
                              width: 90%;
                              padding: 20px;
                        }
                        .timeline-footer-info-container > h1 {
                              float: left;
                              font-size: 14px;
                              color: #7a7a7a;
                        }
                        .timeline-footer-info-container > span {
                              float: right;
                              font-size: 14px;
                              color: #7a7a7a;
                        }
                        
                  /* END TIMELINE FOOTER INFO CONTAINER */
            /* END TIMELINE FOOTER */
            
            /* SECTIONS GENERAL CODE */
                  .section-h1 {
                        font-size: 17px;
                        font-weight: 500;
                        margin-left: 60px;
                        margin-top: 10px;
                  }
                  .pointer {
                        width: 10px;
                        height: 10px;
                        float: right;
                        position: relative;
                        right: -9%;
                        border-top-right-radius: 50%;
                        transform: rotate(-135deg);
                        box-shadow: 0 -3px -8px 0 rgb(15 15 20 / 20%);
                        background-color: #fff;
                  }
                  .timeline-pointer {
                        width: 12px;
                        height: 12px;
                        float: right;
                        position: relative;
                        border: 3px solid rgb(32, 143, 5);
                        right: -31.7%;
                        z-index: 1;
                        border-radius: 50%;
                        transform: rotate(-135deg);
                        background-color: #fff;
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                        transform: scale(1);
                        animation: pulse 1.5s ease-in-out infinite;
                  }
            /* END SECTIONS GENERAL CODE */
      /* END TIMELINE */

      /* MENU */
            .menu {
                  width: 80px;
                  height: 834px;
                  background-color:  #e0e0e6;
                  float: right;
                  position: relative;
                  overflow: hidden;
                  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
            }
            /* MENU BURGER BUTTON */
                  .menu-burger-button {
                        text-align: center;
                        cursor: pointer;
                        padding: 28px;
                        background: linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);
                        box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
                  }
            
                  .menu-burger-button span {
                        margin-top: 3px;
                        width: 20px;
                        height: 3px;
                        display: block;
                        cursor: pointer;
                        border-radius: 1px;
                        background: #5c5c6f;
                  }


            /* END MENU BURGER BUTTON */

            /* MENU CONTENT */
                  .menu-content {
                        margin-top: 223px;
                        width: 252px;
                  }
                  /* MENU CONTENT div */
                        .menu-content-div {
                              padding: 10px;
                              position: relative;
                              margin-left: 75px;
                        }
                        
                        /* MENU CONTENT DIV LI */

                              /* MENU CONTENT DIV LI A */
                                    .menu-content-div-li-a {
                                          color: #7a7a7a;
                                          font-weight:  400;
                                          text-decoration: none;
                                    }
                              /* END MENU CONTENT DIV LI A */

                        /* END MENU CONTENT DIV LI */

                  /* END MENU CONTENT DIV */
            /* END MENU CONTENT */

      /* END MENU */

/* END CONTAINER */