/* GENERAL CODE  */
      a {
            text-decoration: none;
      }
/* END GENERAL CODE */

/* COUNTER */
      .counter {
            display: inline-block;
            position: absolute;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 1080px;
            height: 835px;
      }
      .counter::-webkit-scrollbar {
            display: none;
      }
      /* CONTAINER HEADINGS */
            .container-headings {
                  text-align: center;
                  padding-top: 30px;
            }

            .container-headings-holder-h1 {
                  font-size: 25px;
                  font-weight: 500;
                  padding: 30px;
            }
            .container-headings-holder-p {
                  font-size: 20px;
                  font-weight: 400;
                  color: #7a7a7a;
            }
            /* CONTAINER COUNTER */
                  .container-counter {
                        width: 100%;
                        height: 100%;
                        margin-top: 99px;
                  }

                  /* CONTAINER COUNTER PRICE HOLDER */
                        .container-counter-price-holder {
                              height: 100px;
                              width: 100%;
                              background-color: #fff;
                              border-radius: 2px;
                        }

                        .container-counter-price-progress {
                              margin-top: 30px;
                              border-radius: 50px;
                              height: 40px;
                              width: 80%;
                              margin-left: 9%;
                              background-color: #ebedef !important;
                        }
                        .container-counter-price-progress-highlighter {
                              height: 40px;
                              border-radius: 50px;
                              background-color: #19BB9B;
                              width: 1%;
                              display: inline-block;
                        }
                        .container-counter-price-pointer {
                              width: 80px;
                              height: 80px;
                              border-radius: 50%;
                              background-color: #19BB9B;
                              margin-bottom: 20px;
                              margin-top: -18px;
                              margin-left: -44px;
                              left: auto !important;
                              position: absolute;
                              display: inline-block;
                        }
                        .container-counter-price-pointer-holder {
                              position: relative;
                              left: 24px;
                              top: 31px;
                        }

                  /* END CONTAINER COUNTER PRICE HOLDER */
                  
                  /* CONTAINER COUNTER SERVICES CONTENT HOLDER */
                        .container-counter-services-content-holder {
                              width: 100%;
                              height: 650px;
                              background-color: #fff;
                        }      
                        /* CONTAINER COUNTER HOLDER HEADINGS HOLDER */
                              .container-counter-holder-headings-holder {
                                    width: 100%;
                                    padding: 20px;
                                    text-align: center;
                              }
                              .container-counter-holder-headings-holder-h1 {
                                    font-size: 22px;
                              }
                              .container-counter-holder-headings-holder-p {
                                    font-size: 18px;
                                    margin-top: 15px;
                              }
                              .container-counter-holder-headings-holder-p  span {
                                    color: #7a7a7a;
                                    font-weight: 500;
                              }
                           
                              /* CONTAINER COUNTER SERVICES HOLDER CONTAINER */
                                    .container-counter-services-holder-container  {
                                          width: 100%;
                                          text-align: center;
                                          margin-top: 30px;
                                    }
                                    /* CONTAINER COUNTER SERVICES HOLDER */
                                          .container-counter-services-holder {
                                                display: inline-block;
                                                padding: 10px;
                                                margin: 10px;
                                          }

                                          /* CONTAINER COUNTER SERVICES HEADINGS HOLDER */
                                                .container-counter-services-headings-holder {
                                                      width: 100%;
                                                }

                                                /* CONTAINER COUNTER SERVICES HEADINGS HOLDER H1 */
                                                      .container-counter-services-headings-holder-h1 {
                                                            margin-bottom: 10px;
                                                            color: black;
                                                      }
                                                      .container-counter-services-headings-holder-h1 span {
                                                            color: #7a7a7a;
                                                            font-weight: 500;
                                                      }
                                                      .container-counter-services-headings-holder-p {
                                                            color: black;
                                                      }
                                                /* END CONTAINER COUNTER SERVICES HEADINGS HOLDER H1 */

                                          /* END CONTAINER COUNTER SERVICES HEADING HOLDER */

                                    /* END CONTAINER COUNTER SERVICES HOLDER */

                              /* END CONTAINER COUNTER SERVICES HOLDER CONTAINER */

                        /* END CONTAINER COUNTER HOLDER HEADINGS HOLDER */

                  /* END CONTAINER COUNTER SERVICES CONTENT HOLDER */

                  /* PREVIOUS NEXT BUTTONS */
                        .previous-next-button-holder {
                              position: relative;
                              text-align: center;
                              top: 60px;
                        }
                        .next, .previous  {    
                              display: block;
                              margin: 0 auto;
                              padding: 10px;
                              background: none;
                              font-size: 16px;
                              font-weight: 600;
                              color: #19BB9B;
                        }
                  /* END PREVIOUS NEXT BUTTONS */
            /* END CONTAINER COUNTER */
      /* END CONTAINER HEADINGS */
/* END COUNTER */