
/* COUNTER */
      .counter {
            display: inline-block;
            position: absolute;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 1080px;
            height: 835px;
      }
      .counter::-webkit-scrollbar {
            display: none;
      }
      /* CONTAINER HEADINGS */
            .container-headings {
                  text-align: center;
                  padding-top: 30px;
            }

            .container-headings-holder-h1 {
                  font-size: 25px;
                  font-weight: 500;
                  padding: 30px;
            }
            .container-headings-holder-p {
                  font-size: 20px;
                  font-weight: 400;
                  color: #7a7a7a;
            }
            /* CONTAINER COUNTER */
                  .container-counter {
                        width: 100%;
                        height: 100%;
                        margin-top: 99px;
                  }

                  /* CONTAINER COUNTER PRICE HOLDER */
                        .container-counter-price-holder {
                              height: 100px;
                              width: 100%;
                              background-color: #fff;
                              border-radius: 2px;
                        }

                        .container-counter-price-progress {
                              margin-top: 30px;
                              border-radius: 50px;
                              height: 40px;
                              width: 80%;
                              margin-left: 9%;
                              background-color: #ebedef !important;
                        }
                        .container-counter-price-progress-highlighter {
                              height: 40px;
                              border-radius: 50px;
                              background-color: #19BB9B;
                              width: 1%;
                              display: inline-block;
                        }
                        .container-counter-price-pointer {
                              width: 80px;
                              height: 80px;
                              border-radius: 50%;
                              background-color: #19BB9B;
                              margin-bottom: 20px;
                              margin-top: -18px;
                              margin-left: -44px;
                              left: auto !important;
                              position: absolute;
                              display: inline-block;
                        }
                        .container-counter-price-pointer-holder {
                              position: relative;
                              left: 24px;
                              top: 31px;
                        }
                        /* IMAGES HOLDER AND ITS DESC HOLDER */
                        .container-counter-services-holder {
                              width: 230px;
                              height: 150px;
                        }

                        .container-counter-holder-headings-holder {
                              top: 40px;
                              position: relative;
                              font-size: 30px;
                        }
                              /* CONTAINER COUNTER SERVICES HOLDER */
                                    .container-counter-services-holder-img {
                                          width: 64px;
                                          height: 64px;
                                    }

                                    .container-counter-holder {
                                          width: 100%;
                                          height: 491px;
                                          text-align: center;
                                          background-color: #F8F8FF !important;
                                    }
                                    .container-counter-services-holder {
                                          display: inline-block;
                                    }

                                    /* CONTAINER COUNTER SERVICES HOLDER CONTAINER */
                                          .container-counter-services-holder-container {
                                                position: relative;
                                                top:90px;
                                          }
                                    /* END CONTAINER COUNTER SERVICES HOLDER CONTAINER */

                                    /* CONTAINER COUNTER SERVICES COST HOLDER */
                                          .container-counter-services-cost-holder {
                                                position: relative;
                                                top: 60px;
                                                text-align: left;
                                                left: 352px;
                                          }
                                          .container-counter-services-cost-holder > h1 {
                                                padding: 5px;

                                          }
                                    /* END CONTAINER COUNTER SERVICES COST HOLDER */

                              /* END CONTAINER COUNTER SERVICES HOLDER */
                        /* END IMAGES HOLDER AND ITS DESC HOLDER */
                  /* END CONTAINER COUNTER PRICE HOLDER */


                  /* PREVIOUS NEXT BUTTONS */
                        .previous-next-button-holder {
                              position: relative;
                              text-align: center;
                              top: 60px;
                        }
                        .next, .previous  {    
                              display: block;
                              margin: 0 auto;
                              padding: 10px;
                              background: none;
                              font-size: 16px;
                              font-weight: 600;
                              color: #19BB9B;
                        }
                  /* END PREVIOUS NEXT BUTTONS */
            /* END CONTAINER COUNTER */
      /* END CONTAINER HEADINGS */
/* END COUNTER */